﻿<?xml version="1.0" encoding="utf-8"?>
<pdef:Page id="startpage" layoutRefId="layout_complete" xmlns:pdef="http://www.br-automation.com/iat2015/pageDefinition/v2">
  <Assignments>
    <!--<Assignment type="" baseContentRefId="" areaRefId="" /> -->
  </Assignments>
</pdef:Page>
